<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wedding RSVP</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background: #fbe2fd;
      background-image: url(https://cdn.pixabay.com/photo/2015/09/04/23/41/dandelion-923221_1280.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      color: #333;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    p{
        
      font-size: 1rem;
    }
    .rsvp-container {
      background: rgba(255, 255, 255, 0.8);
      border-radius: 10px;
      padding: 20px;
      width: 300px;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .rsvp-container h1 {
      font-size: 1.2rem;
      margin-bottom: 20px;
      line-height: 1.5;
    }
    .rsvp-container label {
      display: block;
      margin-bottom: 5px;
      font-size: 0.9rem;
    }
    .rsvp-container input {
      width: 90%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    .rsvp-container button {
      background: #9b6bd2;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
    }
    .rsvp-container button:hover {
      background: #a24fa8;
    }
  </style>
</head>
<body>
  <div class="rsvp-container">

    <br>
    <h1>
        תודה שאשרתם את הגעתכם,
        <br>מצפים לראותכם!
      </h1>
      <br>
    <p >
       לאה וישראל
        </p>
  </div>
</body>
<p style="position: absolute; bottom: 0; left: 0; display: inline-block;"> 	&#9400; website by <a href="https://www.linkedin.com/in/tehila-moyal-08419230b/">tehila moyal</a> 	</p>

</html>
